<app-top-bar></app-top-bar>
<nav class="navbar-menu">
  <div class="navbar-wrapper">
    <div class="logo">
      <img src="assets/logo.svg" class="inline-block" alt="">
    </div>
    <div class="block lg:hidden">
      <button class="toggle-btn">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
    <div class="navigation">
      <div class="nav-left-side">
        <a href="#">
          Services
        </a>
        <a href="#">
          Stories
        </a>
        <a href="#">
          FAQ
        </a>
        <a href="#">
          Contact Us
        </a>
      </div>
      <div>
        <a href="#" class="btn-primary inline-block leading-5 mt-4 lg:mt-0">
          <svg class="inline-block fa-user-plus w-5" aria-hidden="true" focusable="false" data-prefix="fas"
            data-icon="user-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg="">
            <path fill="currentColor"
              d="M624 208h-64v-64c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v64h-64c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h64v64c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-64h64c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm-400 48c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
            </path>
          </svg>
          Register</a>
        &nbsp;
        <a href="#" class="btn-primary inline-block leading-5 mt-4 lg:mt-0">
          <svg class="inline-block fa-sign-in-alt w-5" aria-hidden="true" focusable="false" data-prefix="fas"
            data-icon="sign-in-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
            data-fa-i2svg="">
            <path fill="currentColor"
              d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z">
            </path>
          </svg>
          Login</a>
      </div>
    </div>
  </div>
</nav>
