<div class="container my-12">
  <!-- begin: Customer Detail -->
  <div
    class="py-[22px] px-[62px] bg-[#f3f1f0] flex rounded-[20px] content-between"
  >
    <div class="flex">
      <!-- begin: DateTime -->
      <div
        class="flex flex-col max-w-[134px] p-[18px] bg-secondary-dark rounded-lg text-primary-heading"
      >
        <label>December 27, 2022</label>
        <label class="text-white">09:00 AM</label>
      </div>
      <!-- end: DateTime -->

      <!-- begin: personal-detail -->
      <div class="pl-[25px] flex flex-col justify-center text-sm">
        <label class="text-xl"
          >Naveed Shahzad
          <small class="text-xs text-other-blue">(NS7528-3)</small></label
        >
        <address>
          175-D Block Pak-Arab Housing Scheme, government college university ,
          Lahore
        </address>
        <label class="text-primary-heading">+923124277528</label>
      </div>
      <!-- end: personal-detail -->
    </div>
  </div>
  <!-- end: Customer Detail -->
</div>
