<footer class="border-t bg-white pt-2 border-t-gray-300">
  <div class="container py-6 border-b border-t-gray-300">
      <div class="grid grid-cols-3 gap-3">
        <div>
          <h5 class="px-4">GharPar</h5>
          <ul class="flex-col">
            <li class="px-2 py-1"><a class="py-1 px-2 hover:text-primary-heading" href="#">Contact Us</a></li>
            <li class="px-2 py-1"><a class="py-1 px-2 hover:text-primary-heading" href="#">About us</a></li>
            <li class="px-2 py-1"><a class="py-1 px-2 hover:text-primary-heading" href="#">Media</a></li>
            <li class="px-2 py-1"><a class="py-1 px-2 hover:text-primary-heading" href="#">Privacy Policy</a></li>
            <li class="px-2 py-1"><a class="py-1 px-2 hover:text-primary-heading" href="#">Terms and Conditions</a></li>
          </ul>
        </div>
        <div class="text-center">
          <h5 class="px-4">Get GharPar On The Go</h5>
          <p>Visit App Store and Google Play to download GharPar official app:</p>
          <div>
            <a href="#" class="app-download-button mr-lg-3 pt-2" target="_blank">
              <img src="assets/images/app-apple-store.svg" width="150px"
                alt="GharPar on AppStore">
            </a>
            <a href="#" class="app-download-button pt-2"
              target="_blank" width="100px">
              <img src="assets/images/app-google-play.svg" width="150px"
                alt="GharPar on PlayStore"
                data-ll-status="loaded" class="entered lazyloaded">
            </a>
          </div>
        </div>
        <div class="text-center">
          <h5 class="px-4">Connect with GharPar</h5>
        </div>
      </div>
  </div>
  <div class="text-center p-4">
    © Copyright 2022:
    <a href="#">GharPar Technologies Private Limited</a>
  </div>
</footer>
