@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


@font-face {
    font-family: 'ATC Ripley';
    src: url('../fonts/ATCRipley.woff2') format('woff2'),
        url('../fonts/ATCRipley.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
