<nav class="side-nav">
  <a href="" class="intro-x flex items-center pt-4">
    <img alt="JITSS"  src="assets/logo.svg" />
  </a>
  <div class="side-nav__devider my-6"></div>
  <ul>
    <li>
      <a class="side-menu side-menu--active">
        <div class="side-menu__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-home"
            data-v-1fd3b8b7=""
          >
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
        </div>
        <div class="side-menu__title">Dashboard</div>
      </a>
    </li>
  </ul>
</nav>
