<!-- begin: fixed-cart -->
<div class="fixed-cart block font-poppins">
  <!-- begin: my-cart -->

  <div
    class="my-cart bg-white rounded-[18px] shadow-cart text-secondary-dark sticky text-sm"
  >
    <!-- begin: cart-header -->
    <div class="cart-header flex justify-between px-5 py-6">
      <h6 class="text-other-blue inline-block pr-3 m-0 text-base font-medium">
        My Cart
        <span
          class="w-[26px] h-[26px] rounded-full bg-primary inline-block text-center ml-[10px] pt-1 text-white text-sm"
          >{{ totalCartItems }}</span
        >
      </h6>
      <button
        (click)="clearAllCart()"
        *ngIf="cartItems.length !== 0"
        class="text-other-blue font-medium contents"
      >
        Clear All
      </button>
    </div>
    <!-- end: cart-header -->

    <!-- begin: items -->
    <div class="items h-[325px] overflow-auto">
      <!-- begin: empty-cart-body -->
      <ng-container *ngIf="cartItems.length === 0">
        <div
          class="empty-cart-body flex justify-center items-center flex-col text-center border-t border-gray-300 h-[inherit]"
        >
          <img
            class="align-middle inline-block"
            src="assets/images/empty_cart.svg"
            alt="empty cart image"
          /><label class="font-medium mt-[30px] mb-5 inline-block"
            >Empty Cart!</label
          ><small class="text-other-gray text-xs"
            >You haven't added any service to <br />
            your cart yet.</small
          >
        </div>
      </ng-container>
      <!-- end: empty-cart-body -->

      <!-- begin: add-items -->
      <ng-container *ngFor="let cartItem of cartItems">
        <div class="add-items px-5 py-6 border-t border-t-other-light">
          <app-cart-item
            (removeItemEvent)="removeFromCart($event)"
            (changedItemQtyEvent)="changedItemQtyEvent($event)"
            [cartItem]="cartItem"
          ></app-cart-item>

          <!-- begin: cart-addon -->
          <ng-container *ngIf="cartItem.cartAddons?.length">
            <div
              *ngFor="let cartAddonItem of cartItem.cartAddons"
              class="cart-addon w-11/12 bg-other-cart-light rounded-l-[48px] px-6 py-5 ml-[15%] mt-2.5"
            >
              <app-cart-addon-item
                [cartAddonItem]="cartAddonItem"
                (removeAddonItemEvent)="removeAddonFromCart($event, cartItem)"
                (changedAddonQtyEvent)="changedAddonQtyEvent($event)"
              ></app-cart-addon-item>
            </div>
          </ng-container>
          <!-- end: cart-addon -->
        </div>
      </ng-container>
      <!-- end: add-items -->
    </div>
    <!-- end: items -->

    <span
      (click)="checkout($event)"
      class="chk-btn cursor-pointer w-full bg-other-blue text-center font-medium leading-[56px] block text-white relative rounded-b-2xl"
      >Checkout - {{ grandTotal | currency : "Rs. " }}
      <img
        class="absolute top-5 right-4"
        src="assets/images/arrow-forward.svg"
        alt="arrow"
      />
    </span>
  </div>
  <!-- end: my-cart -->

  <div class="text-center pt-1">
    <small class="text-other-gray text-xs"
      >Place your minimum order of Rs. 1500</small
    >
  </div>
</div>
<!-- end: fixed-cart -->
