<div class="service-cards">
  <div *ngFor="let category of categories" class="service-card">
    <figure class="text-center min-h-[440px]">
      <img src="assets/images/services/massage-during-pregnancy.jpg"
        class="border-[3px] border-white  w-[416px] h-[275]" alt="">
      <div class="figure-card">
        <figcaption class="text-center pb-2">Woman Massage</figcaption>
        <p class="mb-4">Relax those nerves with a GharPar massage. All our masseuses come equipped with a massage table!
        </p>
        <div class="text-center">
          <a class="btn-secondary mx-auto more-info" href="#">More Info</a>
        </div>
      </div>
    </figure>
  </div>
</div>