<div class="top-bar">
  <!-- BEGIN: Breadcrumb -->
  <div class="-intro-x breadcrumb mr-auto hidden sm:flex">
    <div *ngIf="false">
      <a href="">Application</a>
      <i data-feather="chevron-right" class="breadcrumb__icon"></i>
      <a href="" class="breadcrumb--active">Dashboard</a>
    </div>
  </div>
  <!-- END: Breadcrumb -->

  <!-- BEGIN: Account Menu -->
  <div class="intro-x dropdown w-8 h-8" #dropdown>
    <div
      class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in"
      role="button"
      aria-expanded="false"
    >
      <img alt="JITSS" src="assets/images/200x200.jpg" />
    </div>
    <div
      class="dropdown-menu w-56"
      [ngClass]="{
        'show inset-[0px 0px auto auto] m-0  translate-x-[-190px] translate-y-[32px]':
          isActiveDropdown
      }"
    >
      <div
        class="dropdown-menu__content box bg-theme-26 dark:bg-dark-6 text-white"
      >
        <div class="p-4 border-b border-theme-27 dark:border-dark-3">
          <div class="font-medium">Naveed Shahzad</div>
          <div class="text-xs text-white mt-0.5 dark:text-gray-600">Admin</div>
        </div>
        <div class="p-2">
          <a
            href=""
            class="flex items-center p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md"
          >
            <i data-feather="user" class="w-4 h-4 mr-2"></i> Profile
          </a>
          <a
            href=""
            class="flex items-center p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md"
          >
            <i data-feather="lock" class="w-4 h-4 mr-2"></i> Reset Password
          </a>
        </div>
        <div class="p-2 border-t border-theme-27 dark:border-dark-3">
          <a
            class="flex cursor-pointer items-center p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md"
          >
            <i data-feather="toggle-right" class="w-4 h-4 mr-2"></i> Logout
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Account Menu -->
</div>
