<div class="flex justify-between align-middle pb-0 sm:pb-2">
  <label>{{ cartItem.name }} </label>
  <span class="price-tag text-primary text-sm">{{
    cartItem.price | currency : "Rs. "
  }}</span>
</div>
<!-- begin: qty -->
<span class="qty text-other-gray font-normal">Qty</span>
<div
  class="select-qty relative inline-block flex-1 py-0 px-[0.5em] cursor-pointer text-white text-sm"
>
  <select class="qty-opt text-black p-0 focus:ring-0" name="item">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
</div>
<!-- end: qty -->
<!-- begin: remove-btn -->
<span
  (click)="removeItem(cartItem)"
  class="remove-btn cursor-pointer text-other-red hover:text-red-700 text-sm ml-5 mr-10"
  ><img
    class="w-3 h-2.5 pr-1 inline-block"
    src="assets/images/remove.png"
    alt="close"
  />Remove</span
>
<!-- end: remove-btn -->
