<section class="py-12">
  <h1 class="text-center">Services</h1>
  <h3 class="text-center text-2xl my-6">
    What’s your mood today? Pick a service and get relaxed
  </h3>
  <div class="container">
    <app-service-cards [categories]="categories"></app-service-cards>
  </div>
</section>

<section class="py-12 bg-gray-100">
  <h1 class="heading text-center pb-6">JUST IN TIME SEVICE AND SUPPLIES</h1>
  <div class="container">
    <img src="/assets/images/services/additional-service-1.jpeg" alt="" />
    <img src="/assets/images/services/plumber-1.jpeg" alt="" />
    <img src="/assets/images/services/ac-services.jpeg" alt="" />
    <img src="/assets/images/services/fabrictor.jpeg" alt="" />
    <img src="/assets/images/services/multi-cons.jpeg" alt="" />
    <img src="/assets/images/services/multi-lawn.jpeg" alt="" />
    <img src="/assets/images/services/electric.jpeg" alt="" />
    <img src="/assets/images/services/WOOD.jpeg" alt="" />
    <img src="/assets/images/services/PAINT.jpeg" alt="" />
    <img src="/assets/images/services/genature.jpeg" alt="" />
    <img src="/assets/images/services/glass.jpeg" alt="" />
    <img src="/assets/images/services/cleaning.jpeg" alt="" />
    <img src="/assets/images/services/polish.jpeg" alt="" />
  </div>
</section>
