<ng-container>
  <div class="checkbtn font-poppins text-sm leading-5 text-secondary-dark">
    <input
      [id]="'addon_' + cartAddonItem.id"
      class="hidden absolute w-full appearance-none kit"
      type="checkbox"
      [disabled]="isCartAddonItem()"
      [checked]="isCartAddonItem()"
    />
    <label
      (click)="addToCart(cartAddonItem)"
      [htmlFor]="'addon_' + cartAddonItem.id"
      class="w-full resize-none cursor-pointer overflow-hidden relative service-item check-lab inline-block"
      ><div class="flex flex-wrap">
        <div class="basis-4/6">
          <span class="cursor-pointer inline-block">{{
            cartAddonItem.name
          }}</span>
        </div>
        <div class="basis-2/6 flex justify-between text-primary">
          <span class="cursor-pointer">{{
            cartAddonItem.price | currency : "Rs. "
          }}</span
          ><span
            ><img
              class="align-middle inline-block"
              src="assets/images/plus.svg"
              alt="plus"
          /></span>
        </div></div
    ></label>
  </div>
</ng-container>
