<div class="flex justify-between align-middle pb-0 sm:pb-2">
  <label>{{ cartAddonItem.name }} </label>
  <span class="price-tag text-primary text-sm">{{
    cartAddonItem.price | currency : "Rs. "
  }}</span>
</div>
<!-- begin: qty -->
<span class="qty text-other-gray font-normal">Qty</span>
<div
  class="select-qty relative inline-block flex-1 py-0 px-[0.5em] cursor-pointer text-white text-sm"
>
  <select
    (change)="changedAddonQtyEvent.emit(cartAddonItem)"
    [(ngModel)]="cartAddonItem.quantity"
    class="qty-opt text-black p-0 focus:ring-0"
    name="item"
  >
    <option *ngFor="let x of range" [value]="x">{{ x }}</option>
  </select>
</div>
<!-- end: qty -->
<!-- begin: remove-btn -->
<span
  (click)="removeItem(cartAddonItem)"
  class="remove-btn cursor-pointer text-other-red hover:text-red-700 text-sm ml-5 mr-10"
  ><img
    class="w-3 h-2.5 pr-1 inline-block"
    src="assets/images/remove.png"
    alt="close"
  />Remove</span
>
<!-- end: remove-btn -->
