<div class="slider-outter overflow-hidden" [ngClass]="isDefault?'home-slider':'quote-slider'">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let slider of sliders">

      <div *ngIf="isDefault" class="slider-inner">
        <img [src]="slider.slider_file" class="object-cover" alt="slider image" />
        <div class="slider-content">
          <div class="slider-title">
            <h2>{{ slider.title }}</h2>
          </div>
          <div class="slider-sub-title">
            <h2>{{ slider.sub_title }}</h2>
          </div>
          <div class="slider-buttons mt-8">
            <a href="#" class="slider-botton-black">Register Now</a>
            <a href="#" class="slider-botton-orange">Book Appointment</a>
          </div>
        </div>
      </div>

      <ng-container *ngIf="!isDefault">
        <div class="flex flex-col md:flex-row">
          <div class="basis-full m-auto md:basis-1/4 relative md:pl-4 md:ml-[8.83%]">
            <img class="w-16 absolute top-0" src="assets/images/blockquote.svg" alt="">
            <img class="aspect-h-1 w-40 h-40 rounded-full mt-1 ml-8" src="assets/images/reviews/roshaneh-1.jpg" alt="">
          </div>
          <div class="basis-full md:basis-3/4">
            <p class="text-justify">GharPar is truly a revolution in Pakistan's beauty scene! Such great customer service, well trained staff, hygiene
              equipment and most all amazing services! It truly is the best combination of convenience and value! Highly
              recommended!</p>
              <br>
              <blockquote class="mb-4 text-xl text-left">
                <p class="font-playfairDisplay italic text-gray-500 text-[.875em] -mt-4 before:content-['-']">Sumrina Khan</p>
              </blockquote>

          </div>
        </div>
      </ng-container>

    </ng-template>
  </owl-carousel-o>
</div>
