<div class="container sm:px-10">
  <div class="block xl:grid grid-cols-2 gap-4">
    <!-- BEGIN: Login Info -->
    <div class="hidden xl:flex flex-col min-h-screen">
      <a href="" class="-intro-x flex items-center mt-5">
        <img alt="JITSS Logo" src="assets/logo.svg" class="max-h-20" />
      </a>
      <div class="my-auto">
        <img
          alt="JITSS Middle Logo"
          class="-intro-x w-1/2 -mt-16"
          src="assets/images/login_left_img.png"
        />
      </div>

      <div class="-intro-x flex items-center pt-5">
        <img alt="JITSS Logo" src="assets/logo.svg" class="h-10" />
        <span class="text-white cursor-pointer"
          ><b>Powered by: </b>jitss.net</span
        >
      </div>
    </div>
    <!-- END: Login Info -->
    <!-- BEGIN: Login Form -->
    <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
      <div
        class="my-auto mx-auto xl:ml-20 bg-white dark:bg-dark-1 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto"
      >
        <h2
          class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left"
        >
          Sign In
        </h2>
        <p
          class="mb-2 text-sm italic text-red-700 py-2 px-2 bg-red-100"
          *ngIf="error_unauthenticated"
        >
          Either your Phone or password is incorrect
        </p>
        <div class="intro-x mt-2 text-gray-500 xl:hidden text-center">
          A few more clicks to sign in to your account. Manage all your tasks in
          one place
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
          <div class="intro-x mt-8">
            <div
              *ngIf="false"
              class="alert alert-danger-soft show flex items-center mb-2"
              role="alert"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-alert-octagon w-6 h-6 mr-2"
              >
                <polygon
                  points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"
                ></polygon>
                <line x1="12" y1="8" x2="12" y2="12"></line>
                <line x1="12" y1="16" x2="12.01" y2="16"></line>
              </svg>
              message
            </div>

            <div id="login-form">
              <input
                formControlName="mobile"
                [inputMask]="mobileInputMask"
                [ngClass]="
                  is_valid('mobile') ? 'border-theme-6' : 'border-gray-300'
                "
                id="mobile"
                type="text"
                class="intro-x login__input form-control py-3 px-4 block"
                placeholder="Mobile No."
                value=""
              />
              <ng-container *ngFor="let error of error_messages.mobile">
                <span
                  *ngIf="is_valid('mobile') && errorType('mobile', error.type)"
                  class="w-5/6 text-theme-6 mt-2"
                  >{{ error.message }}</span
                >
              </ng-container>
              <input
                formControlName="password"
                [ngClass]="
                  is_valid('password') ? 'border-theme-6' : 'border-gray-300'
                "
                id="password"
                type="password"
                class="intro-x login__input form-control py-3 px-4 block mt-4"
                placeholder="Password"
                value=""
              />
              <ng-container *ngFor="let error of error_messages.password">
                <span
                  *ngIf="
                    is_valid('password') && errorType('password', error.type)
                  "
                  class="w-5/6 text-theme-6 mt-2"
                  >{{ error.message }}</span
                >
              </ng-container>
            </div>
          </div>
          <div
            class="intro-x flex text-gray-700 dark:text-gray-600 text-xs sm:text-sm mt-4"
          >
            <div class="flex items-center mr-auto">
              <input
                formControlName="remember_me"
                id="remember-me"
                type="checkbox"
                class="form-check-input border mr-2"
              />
              <label class="cursor-pointer select-none" for="remember-me"
                >Remember me</label
              >
            </div>
            <a class="hidden" href="#">Forgot Password?</a>
          </div>
          <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
            <button
              [disabled]="loginForm.invalid"
              id="btn-login"
              class="btn btn-success py-3 px-4 w-full xl:w-32 xl:mr-3 align-top"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- END: Login Form -->
  </div>
</div>
